<%= form_for @comment, :url => feature_point_comments_url(@comment.commentable), :html => { "data-behavior" => "load_result_in_popup" } do |form| %>
  <div class="clearfix">
    <%= form.fields_for :profile, @comment.profile do |profile_fields| %>
      <div class="name">
        <%= profile_fields.label :name, t( "feature.comment.name_label"), :class => "required" %>
        <%= profile_fields.text_field :name %>
      </div>
      <div class="email">
        <%= profile_fields.label :email, t( "feature.comment.email_label"), :class => "required" %>
        <%= profile_fields.text_field :email %>
      </div>
    <% end %>
  </div>
  <div class="clearfix comment">
    <%= form.label :comment, t( "feature.comment.comment_label" ) %>
    <%= form.text_field :comment %>
  </div>
  <%= form.submit t("feature.comment.submit_label") %>
<% end %>