<p class="message"><%= message %></p>
<%= form_for @comment, :url => feature_point_comments_url(@comment.commentable), :html => { "data-behavior" => "load_result_in_popup" } do |form| %>
  <div class="clearfix">
    <div class="name">
      <%= form.label :submitter_name, t( "feature.comment.name_label"), :class => "required" %>
      <%= form.text_field :submitter_name %>
    </div>
    <div class="email">
      <%= form.label :submitter_email, t( "feature.comment.email_label"), :class => "required" %>
      <%= form.text_field :submitter_email %>
    </div>
  </div>
  <div class="clearfix">
    <div class="comment">
      <%= form.label :comment, t( "feature.comment.comment_label" ) %>
      <%= form.text_field :comment %>
    </div>
    <p class="count"><span>140</span> character<span class="s">s</span> left.</p>
  </div>
  <div id="submit_new_comment">
    <%= form.submit t("feature.comment.submit_label") %>    
  </div>
  
  <%= hidden_field_tag "from", from %>
<% end %>

<% if from != :feature_point %>
  <%= link_to "Skip to next step", share_feature_point_url(@comment.commentable), :class => "next", "data-behavior" => "load_result_in_popup" %>
<% end %>