<% if commentable.comments.count > 0 %>
<div class="comments">
  <div class="discussion-header">
    <h3><%= t "feature.comment.header" %></h3>
    <div class="comment-count">
      <%= pluralize commentable.comments.count, t("feature.comment.label") %>
    </div>
  </div>
  <ul>
    <% for comment in commentable.comments %>
      <li class="clearfix">
        <div class="comment">
          <p class="meta">
            <%= comment.submitter_name %>, 
            on <%= comment.created_at.strftime("%B %-d, %Y") %> 
            at <%= comment.created_at.strftime("%l:%M %P") %>
          </p>
          <p class="body">
            <%= comment.comment %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
