<div class="feature show">

  <% if admin_signed_in? %>
    <div class="feature-admin">
      <%= render "feature_points/admin.html", :feature_point => feature_point %>     
    </div>
  <% end %>
  
  <div id="left" class="column">
    <div class="location_image <%= "winner" if feature_point.winner? %>">
      <%= image_tag path_to_url(feature_point.image.url(:thumb)) if feature_point.image.present? %>
    </div>
    
    <div class="support">
      <% if vote = vote_for(feature_point) %>
        <%#= render "votes/delete.html", :supportable => feature_point, :vote => vote %>
      <% else %>
        <div id="vote_link">
          <%= render "votes/new.html", :supportable => feature_point %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div id="center" class="column">
    <%= render "info.html", :feature_point => feature_point %>
  </div>
  
  <div id="right" class="column">
    <div class="discussion">
      <%= render "shared/discussion.html", :commentable => feature_point %>
    </div>
  </div>
  
  <div class="close">
    <%= link_to "Close", "#" %>
  </div>
</div><!-- end div.feature -->