<div class="feature show">

  <% if admin_signed_in? %>
    <div class="feature-admin">
      <%= render "feature_points/admin.html", :feature_point => feature_point %>     
    </div>
  <% end %>
  
  <div id="left" class="column">
    <div class="location_image">
      <%= image_tag path_to_url(feature_point.image.url(:thumb)) if feature_point.image.present? %>
    </div>
    
    <div class="support">
      <% if vote = vote_for(feature_point) %>
        <%#= render "votes/delete.html", :supportable => feature_point, :vote => vote %>
      <% else %>
        <div id="vote_link">
          <%= form_for [feature_point, feature_point.votes.new], :url => feature_point_votes_url(feature_point), :html => { :class => "vote", "data-behavior" => "load_result_in_popup" } do |form| %>
            <button type="submit">
              <div>
                <%= t 'feature.vote_action' %>
              </div>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div id="center" class="column">
    <h2>
      <span class="vote-label">
        <%= feature_point.votes.count -%>
      </span> 
      <%= "#{Vote.model_name.human}#{"s" if feature_point.votes.count != 1}" -%>
    </h2>
    <h1>
      <%= feature_point.name -%>
    </h1>
    <p>
      <strong><%= feature_point.event_time -%></strong>
    </p>
    <p>
      <strong><%= feature_point.address -%></strong>
    </p>
    <p>
      <%= feature_point.description -%>
    </p>
    <p>
      <%= link_to feature_point.event_link if feature_point.event_link.present? -%>
    </p>
  </div>
  
  <div id="right" class="column">
    <div class="discussion">
      <%= render "shared/discussion.html", :commentable => feature_point %>
    </div>
  </div>
  
  <div class="close">
    <%= link_to "Close", "#" %>
  </div>
</div><!-- end div.feature -->